body {
    overflow: hidden; /* we will never know why*/
}

main {
    width: 28rem;
    max-width: 100%;
    margin: 15vh auto 15vh;
}

main > div {
    position: relative;
}

main > div > [data-x] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.margin {
    width: 25rem;
    max-width: 85%;
    margin: 15vh auto 15vh;
}

img {
    width: 100%;
    height: auto;
    margin: 0 auto 1rem;
}